<html>
    <body>
        <p>Logbook</p>
	<table>
	<tr>
	    <td><a href="/">[GET] /</a></td>
	    <td><a href="/api">[GET] /api/</a></td>
	</tr>
	<tr>
	    <td><a href="/login">[GET] /login</a></td>
	    <td><a href="/api/login">[GET] /api/login</a><td>
	</tr>
	<tr>
	    <td><form id="login-form" action="/login" method="POST">
	        <a href="#" onclick="loginSubmit()">[POST] /login</a> 
	    </form></td>
	    <td><form id="login-api-form" action="/api/login" method="POST">
	        <a href="#" onclick="loginApiSubmit()">[POST] /api/login</a> 
	    </form></td>
	</tr>
  
            <script> 
                function loginSubmit() { 
                    document.getElementById("login-form").submit(); 
                } 
                function loginApiSubmit() { 
                    document.getElementById("login-api-form").submit(); 
                } 
            </script> 
	</table>
    </body>
</html>
