<html>
    <body>
        <p>Logbook</p>
	<!-- Root -->
	<h2>Root</h2>
	<table>
	<tr>
	    <td><a href="/">[GET] /</a></td>
	    <td><a href="/api">[GET] /api/</a></td>
	</tr>
	</table>

	<!-- Login -->
	<h2>Login</h2>
	<table>
	<tr>
	    <td><a href="/login">[GET] /login</a></td>
	    <td><a href="/api/login">[GET] /api/login</a><td>
	</tr>
	<tr>
	    <td><form id="login-form" action="/login" method="POST">
	        <a href="#" onclick="loginSubmit()">[POST] /login</a> 
	    </form></td>
	    <td><form id="login-api-form" action="/api/login" method="POST">
	        <a href="#" onclick="loginApiSubmit()">[POST] /api/login</a> 
	    </form></td>
	</tr>
        <script> 
            function loginSubmit() { 
                document.getElementById("login-form").submit(); 
            } 
            function loginApiSubmit() { 
                document.getElementById("login-api-form").submit(); 
            } 
        </script> 
	</table>

        <!-- Register -->
	<h2>Register</h2>
	<table>
	<tr>
	    <td><a href="/register">[GET] /register</a></td>
	    <td><a href="/api/register">[GET] /api/register</a><td>
	</tr>
	<tr>
	    <td><form id="register-form" action="/register" method="POST">
	        <a href="#" onclick="registerSubmit()">[POST] /register</a> 
	    </form></td>
	    <td><form id="register-api-form" action="/api/register" method="POST">
	        <a href="#" onclick="registerApiSubmit()">[POST] /api/register</a> 
	    </form></td>
	</tr>
  
        <script> 
            function registerSubmit() { 
                document.getElementById("register-form").submit(); 
            } 
            function registerApiSubmit() { 
                document.getElementById("register-api-form").submit(); 
            } 
        </script> 
	</table>
    </body>
</html>
